# Node
Frontend/node_modules/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset
vision/Dataset/
vision/SquareDataset
vision/SquareDataset_split

# Environment variables
.env
.env.local
.env.*.local

# Build
Frontend/build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/